@page
@model IndexModel

<h1>FlowStock Inventory System</h1>

<p>Choose an option:</p>

<ul>
    <li><a href="/Products/Create">Register Product</a></li>
    <li><a href="/Products/Index">View Products</a></li>
    <li><a href="/Suppliers/Create">Register Supplier</a></li>
    <li><a href="/Suppliers/Index">View Suppliers</a></li>
    <li><a href="/StockMovements/Create">Register Stock Movement</a></li>
    <li><a href="/Alerts/Index">View Alerts</a></li>
</ul>
